@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: white;
    color: #1f2937;
    transition: background-color 0.3s, color 0.3s;
  }
  .dark body {
    background-color: #1a1b26;
    color: #c0caf5;
    transition: background-color 0.3s, color 0.3s;
  }
}
